@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html
	overflow-x: hidden
	height: 100%

body
	height: 100%
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

h1, h2, h3, h4, h5, h6
	margin-bottom: 0
	line-height: 1.4
p
	margin-bottom: 0
ul
	list-style-type: none
	padding: 0
	margin: 0

.color-secondary
	color: $secondary

.btn
	display: inline-block
	text-align: center
	background-color: $accent
	color: #ffffff
	border: none
	font-size: 18px
	cursor: pointer
	font-weight: bold
	line-height: 1.4
	padding: 8px 30px
	border-radius: 25px
	transition: background-color .15s ease
	&:hover, &:active
		background-color: darken($accent, 7)
		color: #ffffff
		text-decoration: none
	&-shadow
		box-shadow: 2px 5px 12px 5px rgba(240, 99, 19, 0.23)

.header
	padding: 10px 0
	a
		color: #ffffff
	&__content
		display: flex
		justify-content: space-between
		align-items: center
	&__logo-wrap
	&__logo
		max-width: 210px
	&__menu

.menu
	&__list
		display: flex
	li
		margin: 0 12px
	&__link
		padding: 10px
		font-size: 14px
		text-decoration: underline
		transition: color .15s ease
		&:hover
			color: #cccccc


.contacts-block
	display: flex
	align-items: center
	text-align: right
	&__links
		margin-right: 20px
	&__link
		text-decoration: underline
	&__text
		font-size: 18px
		line-height: 1.4
		font-weight: bold
		&--sm
			font-size: 16px
			font-weight: normal
	&__actions
	&__action-item
		display: block
		width: 45px
		height: 45px
		line-height: 45px
		border: 1px solid #ffffff
		padding: 5px
		border-radius: 5px
		transition: background-color .15s ease, border-color .15s ease
		&:hover
			background-color: rgb(51, 176, 7)
			border-color: rgb(51, 176, 7)
		&:active
			background-color: rgb(30, 106, 3)
			border-color: rgb(30, 106, 3)
	&__icon
		width: 32px
		height: 32px
		fill: #ffffff

.section-showcase
	background-repeat: no-repeat
	background-size: cover
	background-position: center top
	&__callback
		max-width: 900px
		margin-top: 100px
		margin-left: auto
		margin-right: auto
	&__content
		padding-top: 170px
		padding-bottom: 142px

.showcase
	&__description
		font-size: 20px
		font-weight: normal
		margin-bottom: 35px
	&__title
		font-size: 36px
		margin-bottom: 30px
	&__stats

.stats-showcase
	display: flex
	&__item
		margin-right: 30px
		&:last-child
			margin-right: 0
	&__number
		font-size: 26px
		font-weight: bold
	&__text
		line-height: 1.4

.showcase-img
	position: relative
	&__img
		position: absolute
		top: -100px
		left: -50px

.callback
	box-shadow: 0 8.333333333333334px 25px 0px rgba(0, 0, 0, 0.1)
	background-color: #fff
	border-radius: 35px
	position: relative
	z-index: 2
	padding: 21px 21px 25px
	&--transparent
		background-color: transparent
	&--white-color
		color: #ffffff
		.form-callback__accept-link
			color: #ffffff
		.form-callback__accept
			color: #d7d7d7
		.form-callback__accept-icon
			fill: #ffffff
		.form-callback__accept-icon-wrap
			border-color: #ffffff
		.form-callback__control
			border-color: #ffffff
			color: #ffffff
			&::placeholder
				color: #ffffff
	&__title
		font-size: 20px
		text-align: center
		margin-bottom: 30px
	&__descr
		text-align: center
		margin-bottom: 10px

.form-callback
	&__fields
		display: flex
		align-items: flex-end
		margin-bottom: 20px
	&__field
		flex: 1
		margin-right: 30px
		position: relative
		&:last-child
			margin-right: 0
	&__label
		font-size: 12px
		margin-bottom: 0
		position: absolute
		bottom: 100%
		left: 0
		padding-left: 3px
	&__control
		border: none
		border-bottom: 1px solid rgba(0, 0, 0, 0.26)
		transition: border-color .15s ease
		width: 100%
		font-size: 13px
		padding: 6px 0
		background: none
		&:focus
			border-color: rgb(70, 108, 233)
	&__select
	&__input
	&__btn
	&__accept
		font-size: 14px
		line-height: 27px
	&__accept-icon-wrap
		display: inline-block
		vertical-align: top
		text-align: center
		width: 27px
		height: 27px
		line-height: 27px
		border-radius: 50%
		border: 2px solid $secondary
		margin-right: 10px
	&__accept-icon
		width: 14px
		height: 14px
		fill: $secondary
	&__accept-link
		color: $text
		text-decoration: underline

.section-projects
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	color: #ffffff
	padding: 70px 0 90px
	&__title
		margin-bottom: 30px
	&__description
		font-size: 18px
	&__partners
		margin-top: 80px
	&__partner
		img
			margin: 0 auto

.section-title
	font-size: 36px
	line-height: 1.1

.slick-dots
	display: flex
	justify-content: center
	li
		width: 18px
		height: 18px
		border-radius: 50%
		background-color: rgba(255, 255, 255, 0.2)
		margin: 0 6px
		cursor: pointer
		transition: background-color .15s ease
		&:hover, &.slick-active
			background-color: rgba(255, 255, 255, 1)

.slider-projects
	position: relative
	margin-top: 40px
	padding: 0 80px
	&__nav
		position: absolute
		top: 50%
		transform: translateY(-50%)
		z-index: 999
		width: 50px
		height: 50px
		display: flex
		justify-content: center
		align-items: center
		border-radius: 50%
		border: 3px solid rgba(255,255,255,0.2)
		cursor: pointer
		transition: border-color .15s ease
		&--prev
			left: 0
		&--next
			right: 0
		&:hover, &:active
			border-color: rgba(255,255,255, 0.4)
			.slider-projects__nav-icon
				fill: rgba(255,255,255,1)
	&__nav-icon
		width: 18px
		height: 18px
		fill: rgba(255,255,255,0.8)
		transition: fill .15s ease
	&__dots
		margin-top: 30px

.item-project
	&__content
		padding-bottom: 20px
	&__logo
		max-width: 200px
		margin-bottom: 20px
	&__title
		font-size: 22px
		margin-bottom: 40px
	&__text
		font-size: 18px
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
	&__btn
		margin-top: 25px
	&__img-wrap
		display: flex
		align-items: center

.section-offers
	padding: 80px 0
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	&__items
		margin-left: -25px
		margin-right: -25px
	&__title
		margin-bottom: 60px

.item-offer
	margin-bottom: 50px
	padding-left: 25px
	padding-right: 25px
	transition: transform .35s ease
	&:hover
		transform: scale(1.05)
	&__inner
		text-align: center
		background-color: #fff
		box-shadow: 2px 2px 11px -3px rgba(70, 108, 233, 0.73)
		height: 100%
		border-radius: 30px
		padding: 40px 50px
		display: flex
		flex-direction: column
	&__icon-wrap
		width: 110px
		height: 110px
		border-radius: 50%
		background-color: $secondary
		display: flex
		justify-content: center
		align-items: center
		margin: 0 auto 25px
	&__icon
		fill: #ffffff
		width: 70px
		height: 70px
	&__title
		font-size: 28px
		margin-bottom: 20px
	&__text
		font-size: 18px
		line-height: 1.4
		margin-bottom: 40px
	&__btn
		margin-top: auto
		align-self: center

.section-callback
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	color: #ffffff
	padding: 60px 0
	&__title
		font-size: 32px
		margin-bottom: 25px
	&__text
		font-size: 18px
	&__callback
		padding: 50px 25px 25px
		.form-callback__control
			font-size: 16px
	&__descr
		font-size: 18px
		margin-bottom: 10px
	&__col
		padding-left: 10px
		padding-right: 10px

.section-result
	padding: 80px 0
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	&__title
		margin-bottom: 45px

.item-result
	align-items: center
	margin-bottom: 70px
	&:last-child
		margin-bottom: 0
	&:nth-child(even)
		flex-direction: row-reverse
	&__title
		font-size: 32px
		margin-bottom: 30px
		line-height: 1.2
	&__text
		font-size: 18px
		margin-bottom: 10px
		line-height: 1.4
	&__list
		margin-left: 10px
		li
			position: relative
			padding-left: 50px
			margin-bottom: 15px
			line-height: 1.4
			&::before
				content: ''
				background-image: url('../img/icons/info.svg')
				display: block
				height: 28px
				width: 28px
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 0
			&:last-child
				margin-bottom: 0
	&__list-title
		font-size: 18px
		margin-bottom: 15px
	&__list-icon
		width: 25px
		height: 25px
	&__btn
		margin-top: 40px

.section-second-callback
	background-position: center bottom
	padding: 80px 0
	.section-callback__title
		line-height: 1.4

.section-terms
	padding: 80px 0 130px
	&__title
		margin-bottom: 80px
	&__callback
		background-color: $secondary
		max-width: 900px
		margin: 60px auto 0 auto
		.callback__title
			text-align: left
			font-size: 22px
		.callback__form
			position: relative
			padding-right: 340px
			&::after
				content: ''
				display: block
				position: absolute
				background-image: url(../img/book.png)
				background-size: contain
				background-repeat: no-repeat
				background-position: center top
				width: 340px
				height: 340px
				top: -85px
				right: -10px
				z-index: 2
		.form-callback__control
			font-size: 16px

.item-terms
	align-items: center
	margin-bottom: 120px
	&:last-child
		margin-bottom: 0
	&:nth-child(even)
		flex-direction: row-reverse
	&__title
		font-size: 28px
		line-height: 1.1
		margin-bottom: 30px
	&__text
		font-size: 18px
		line-height: 1.4
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
	&__quote
		margin-top: 40px


.quote
	border: 3px solid $secondary
	border-radius: 30px
	display: flex
	align-items: center
	padding: 10px 20px 10px 0
	&__icon-wrap
		padding: 0 35px
	&__icon
		width: 60px
	&__title
		font-weight: normal
		font-size: 14px
		margin-bottom: 7px
	&__text
		font-size: 18px
		line-height: 1.4

.section-stages
	&__title
		margin-bottom: 100px
	&__callback
		background-color: $secondary
		max-width: 900px
		margin: 60px auto 0 auto
		.callback__title
			text-align: left
			font-size: 22px
		.form-callback__control
			font-size: 16px
		.form-callback__accept
			position: relative
			padding-left: 37px
			line-height: 1.3
		.form-callback__accept-icon-wrap
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0
		.form-callback__fields
			margin-bottom: 0
		

.tabs
	&__btns
		border-bottom: 2px solid #d8d8d8
	&__btns-content
		display: flex
		justify-content: space-between
	&__content
		padding-top: 130px

.tab-btn
	text-align: center
	cursor: pointer
	position: relative
	&::before
		content: ''
		display: none
		width: 14px
		height: 14px
		border-radius: 50%
		position: absolute
		background-color: $secondary
		bottom: -7px
		left: 50%
		transform: translateX(-50%)
	&.active
		&::before
			display: block
		.tab-btn__icon
			fill: $secondary
		.tab-btn__title
			color: #000000
	&__icon
		fill: #d8d8d8
		width: 80px
		height: 80px
		margin-bottom: 35px
	&__title
		color: #a6a6a6
		font-size: 13px
		text-transform: uppercase
		margin-bottom: -55px
		letter-spacing: 1.3px
		

.tab
	&__title
		font-size: 28px
		margin-bottom: 25px
	&__content
		align-items: center

.item-tab
	margin-bottom: 25px
	&:last-child
		margin-bottom: 0
	&__title
		font-size: 18px
		margin-bottom: 10px
	&__text
		font-size: 18px
		margin-bottom: 10px
		line-height: 1.4
		&:last-child
			margin-bottom: 0
	&__list
		list-style-type: disc
		margin-left: 40px
		
.section-track
	padding: 80px 0
	&__header
		width: 60%
		margin-bottom: 50px
	&__title
		margin-bottom: 30px
	&__descr
		font-size: 18px
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
	&__items

.item-track
	box-shadow: 2px 2px 11px -3px rgba(70, 108, 233, 0.73)
	border-radius: 30px
	background-color: #fff
	text-align: center
	padding: 10px 21px 26px
	height: 100%
	display: flex
	flex-direction: column
	transition: transform .25s ease-in-out
	&:hover
		transform: scale(1.05)
	&__img-wrap
		margin-bottom: 15px
	&__img
		width: 80px
		margin: 0 auto
	&__title
		font-size: 18px
		margin-bottom: 10px
		letter-spacing: 1.6px
	&__text
		font-size: 14px
		margin-bottom: 5px
		&:last-child
			margin-bottom: 0
	&__link
		font-size: 14px
		text-decoration: underline
		margin-top: auto

.section-contact
	padding-top: 50px
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	&__callback
		background-color: $secondary
		margin-bottom: 40px
		.form-callback__control
			font-size: 16px
		.form-callback__field--input
			flex: 0 1 auto
	&__content
		padding-left: 70px
	&__about
		margin-bottom: 30px
	&__img-wrap
		display: flex
		align-items: flex-end

.about
	background-color: #26b3e0
	color: #ffffff
	padding: 25px 40px
	border-radius: 5px 5px 5px 0
	position: relative
	&::before
		content: ''
		display: block
		width: 0
		height: 0
		border-bottom: 20px solid #26b3e0
		border-left: 20px solid transparent
		position: absolute
		bottom: 0
		right: 100%
		z-index: 9
	&__content
		border-bottom: 3px solid #ffffff
		padding-bottom: 20px
	&__text
		font-size: 18px
		line-height: 1.45
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
	&__footer
		display: flex
		padding-top: 15px
	&__author
	&__name
		font-size: 20px
		margin-bottom: 5px
	&__position
	&__sign
		max-width: 190px

.footer
	background-color: #f0f0f0
	padding: 18px 0
	&__content
		display: flex
		align-items: center
		justify-content: space-between
	&__logo
		max-width: 180px
	&__link
		font-size: 12px
		text-decoration: underline
	&__contacts
		.contacts-block__action-item
			border: none
			background-color: #5cbe3a
			&:hover
				background-color: darken(#5cbe3a, 5)
		.contacts-block__icon
			fill: #000000
		.contacts-block__link
			color: #1949e6

@import "media" // Always at the end
